.site-layout-content {
  min-height: 280px;
  padding: 36px;
}
.logo {
  float: left;
  width: 100px;
  height: 55px;
  margin: 5px 5px 5px 25px;
  background: url("./assets/logo.png") no-repeat center center;
  background-size: contain;
}
.ant-row-rtl  .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

/* override the antd style of Layout header*/
.ant-layout-header {
  background: #fff;
  padding: 0;
  height: 70px;
  line-height: 70px;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}